@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.quill {
	@apply input-bordered h-full p-0 border rounded-lg;
	border-color: var(--fallback-bc, oklch(var(--bc) / 0.2));
}

.quill:focus,
.quill:focus-within {
	outline: 1px solid var(--fallback-bc, oklch(var(--bc) / 0.2));
	outline-offset: 2px;
}

.quill .ql-container.ql-snow {
	@apply border-0;
}

.quill .ql-snow.ql-toolbar {
	@apply border-0 border-b-2 input-bordered;
}

.quill .ql-snow.ql-toolbar button {
	@apply btn-ghost rounded-full;
}

.ql-editor {
	@apply min-h-80 overflow-y-auto max-h-60;
}

.quill .ql-editor.ql-blank::before {
	@apply text-gray-400 not-italic text-sm;
}

.quill .ql-formats .ql-picker-options {
	@apply text-gray-400 bg-black;
	border: 0px !important;
}

.quill .ql-picker-label {
	@apply text-gray-400 border-0 btn-ghost;
	border: 0px !important;
}

.quill .ql-expanded .ql-picker-label {
	background-color: var(--fallback-bc, oklch(var(--bc) / 0.2));
	color: #06c !important;
}
